:root {
  --heading-font-size: .8rem;
  --vartical-ratio: 88%;
  --theater-color: #F2F1F2;
  --global-font-color: #052D35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--global-font-color);
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    min-height: 100vh;
    background-color: #373737;
  }
}

.theater {
  --theater-height: 36rem;
  --theater-width: 64rem;
  height: var(--theater-height); // 9
  width: var(--theater-width); // 16
  background-color: var(--theater-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    height: 100%;
    width: 100%;
    padding: .5rem 1rem;
    .top {
      width: 100%;
      height: var(--vartical-ratio);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .bottom {
      width: 100%;
      height: calc(100% - var(--vartical-ratio));
      display: flex;
      justify-content: space-between; // left:m-r-wrapper = 60:38

      & > * {
        padding: .5rem;
      }

      .left {
        width: 60%;
        padding-right: 0;
        p.head {
          font-family: 'Cormorant Garamond', serif;
          font-size: 1rem;
        }
      }

      .middle-right-wrapper {
        display: inherit;
        width: 38%;
        --middle-width: 55%;
        .middle {
          width: var(--middle-width);
          height: 100%;
          display: flex;
          flex-flow: column;
          .middle-text {
            display: inherit;
            p {
              margin-bottom: 0;
              font-size: .7rem;
              line-height: .9rem;
            }
          }
          .middle-code {
            height: calc(100% - .9rem + .5rem); // actual height - heading + padding
            img {
              height: 100%;
            }
          }
        }
        .right {
          width: calc(100% - var(--middle-width));
          height: 100%;
        }
      }
      
      p.head {
        line-height: var(--heading-font-size);
        font-size: var(--heading-font-size);
        margin-right: .25rem;
        margin-bottom: .25rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
      }
      p.body {
        // line-height: 0.6rem;
        // font-size: 0.6rem;
        font-size: calc(var(--heading-font-size) - .1rem);
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

h1 {
  margin: 1rem;
  color: goldenrod;
}

@media screen and (max-width: 800px) {
  body {
    background-color: darkblue;
  }
  :root {
    --vartical-ratio: 75%;
  }
  .theater {
    --theater-width: 30rem;

    .container {
      padding: 1rem .5rem .5rem;

      .bottom {
        flex-flow: column;
        align-items: center;
        --left-height: 60%;

        .left {
          width: 100%;
          height: var(--left-height);
          padding-right: .5rem;
          padding-bottom: 0;
          margin-top: .5rem;
        }

        .middle-right-wrapper {
          width: 100%;
          height: calc(100% - var(--left-height));
          & > * {
            height: 100%
          }
          .middle {
            width: 60%;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            .middle-code {
              height: 100%;
              img {
                height: 100%;
              }
            }
          }
          .right {
            width: 40%;
          }
        }
      }
    }
  }
}