:root {
  --heading-font-size: .8rem;
  --vartical-ratio: 88%;
  --theater-color: #F2F1F2;
  --global-font-color: #052D35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--global-font-color);
}
* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #373737;
}

.theater {
  --theater-height: 36rem;
  --theater-width: 64rem;
  height: var(--theater-height);
  width: var(--theater-width);
  background-color: var(--theater-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.theater .container {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
}
.theater .container .top {
  width: 100%;
  height: var(--vartical-ratio);
}
.theater .container .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theater .container .bottom {
  width: 100%;
  height: calc(100% - var(--vartical-ratio));
  display: flex;
  justify-content: space-between;
}
.theater .container .bottom > * {
  padding: 0.5rem;
}
.theater .container .bottom .left {
  width: 60%;
  padding-right: 0;
}
.theater .container .bottom .left p.head {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
}
.theater .container .bottom .middle-right-wrapper {
  display: inherit;
  width: 38%;
  --middle-width: 55%;
}
.theater .container .bottom .middle-right-wrapper .middle {
  width: var(--middle-width);
  height: 100%;
  display: flex;
  flex-flow: column;
}
.theater .container .bottom .middle-right-wrapper .middle .middle-text {
  display: inherit;
}
.theater .container .bottom .middle-right-wrapper .middle .middle-text p {
  margin-bottom: 0;
  font-size: 0.7rem;
  line-height: 0.9rem;
}
.theater .container .bottom .middle-right-wrapper .middle .middle-code {
  height: calc(100% - .9rem + .5rem);
}
.theater .container .bottom .middle-right-wrapper .middle .middle-code img {
  height: 100%;
}
.theater .container .bottom .middle-right-wrapper .right {
  width: calc(100% - var(--middle-width));
  height: 100%;
}
.theater .container .bottom p.head {
  line-height: var(--heading-font-size);
  font-size: var(--heading-font-size);
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.theater .container .bottom p.body {
  font-size: calc(var(--heading-font-size) - .1rem);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 1rem;
  color: goldenrod;
}

@media screen and (max-width: 800px) {
  body {
    background-color: darkblue;
  }

  :root {
    --vartical-ratio: 75%;
  }

  .theater {
    --theater-width: 30rem;
  }
  .theater .container {
    padding: 1rem 0.5rem 0.5rem;
  }
  .theater .container .bottom {
    flex-flow: column;
    align-items: center;
    --left-height: 60%;
  }
  .theater .container .bottom .left {
    width: 100%;
    height: var(--left-height);
    padding-right: 0.5rem;
    padding-bottom: 0;
    margin-top: 0.5rem;
  }
  .theater .container .bottom .middle-right-wrapper {
    width: 100%;
    height: calc(100% - var(--left-height));
  }
  .theater .container .bottom .middle-right-wrapper > * {
    height: 100%;
  }
  .theater .container .bottom .middle-right-wrapper .middle {
    width: 60%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .theater .container .bottom .middle-right-wrapper .middle .middle-code {
    height: 100%;
  }
  .theater .container .bottom .middle-right-wrapper .middle .middle-code img {
    height: 100%;
  }
  .theater .container .bottom .middle-right-wrapper .right {
    width: 40%;
  }
}